ms-colombo-cael-student/*.properties
ms-colombo-cael-student/.project
ms-colombo-cael-student/.factorypath
ms-colombo-cael-student/.classpath
ms-colombo-cael-student/.settings/org.eclipse.m2e.core.prefs
ms-colombo-cael-student/.settings/org.eclipse.core.resources.prefs
ms-colombo-cael-student/.settings/org.eclipse.jdt.apt.core.prefs
ms-colombo-cael-student/.settings/org.eclipse.jdt.core.prefs
ms-colombo-cael-student/.settings/org.springframework.ide.eclipse.prefs
